
<div class="col-12 header">

    <nav class="navbar navbar-expand-lg navbar-dark ">
        <span class="logo1"><img src="assets/Vector.png" alt=""> </span>
        <span class="logo2"><img src="assets/Group.png" alt=""></span>
        <!-- <span class="logo3"><img src="assets/Layer_1.png" alt=""></span> -->
        <span class="Frame"><img src="assets/Frame.png" alt=""></span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <span class="logo3"><img src="assets/Layer_1.png" alt=""></span>
          <ul class="navbar-nav links">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Protfolio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      
</div>

