*{
    box-sizing: border-box;

}
[class*="col-"]{
    float: left;
    width: 100%;
}

$primari-color: #43868E;

@media screen and (max-width:800px) {
    div.col-12{
        display: block;
        padding-bottom: 100px;
    }
    div div .content .left-content .links{
        left: 0px;
        font-size: 12px;
    }
    div div div .right-content .text,
    div div .content .left-content .text{
        font-size: 20px;
        line-height: 30px;
    }
    div div .content .left-content .links ul li{
        text-align: center;
        left: 0px;
        line-height: 25px;
    }
    div div .content .left-content .links ul li a img{
        height: 12px;
    }
    div div .col-sm-3 .center-content .senses{
        padding: 4px 2%;
    }
    div div ul .link{
        font-size: 13px;
    }
    div div ul li img{
        height: 17px;
        margin-left: -10px;
        margin-right: 5px;
    }
}
@media screen and (max-width:800px) and (min-width:575px){
    div div .content .left-content .text{
        font-size: 12px;
    }
}

.col-12{
    background-color: #16092B;
}
.container{
    background-color: #16092B;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
}
.col-sm-3{
    background:none;
    display: flex;
    justify-content: center;
}
.links{
    position: relative;
    left: 10px;
}

.text{
    color: $primari-color;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px; /* 359.259% */
    letter-spacing: 2.7px;
}
ul{
    list-style: none;
    padding-left: 0;
    text-align: left;

}

.link,
.Copyright{
    color: #DFF7FA;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    display: inline-flex;
}
.link span img{
    margin-right: 5px;
}
.icons .icon:nth-of-type(1){
    margin-left: 17%;
}
.senses{
    height: 60px;
    margin-bottom: 25px;
}
.icon{
    width: 30.053px;
    height: 30.053px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.Copyright{
    color: #6354c1;
    font-size: 11px;
    font-weight: 600;
    margin-left: 5px;
}


