
<div class="col-12">
    <div class="col-sm-3">
        <p class="text">Useful links</p>
        <ul>
            <li><a routerLink="#" class="link">Alfoadia LTD</a></li>
            <li><a routerLink="#" class="link">Facility Management</a></li>
            <li><a routerLink="#" class="link">Interior Design</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <img src="assets/Layer_0.png" class="senses" alt="">
        <div class="icons">
            <img src="assets/Facebook.png" alt="" class="icon">
            <img src="assets/Twitter.png" alt="" class="icon">
            <img src="assets/Instagram.png" alt="" class="icon">
        </div>
        <p class="Copyright text-center">Copyright 2022 All right reserved</p>
    </div>
    <div class="col-sm-3">
        <p class="text">Useful links</p>
        <ul>
            <li><a routerLink="#" class="link"><span><img src="assets/directbox-notif.png" alt=""></span> Contact@alfoadia.com.sa</a></li>
            <li><a routerLink="#" class="link"><span><img src="assets/u_mobile-android.png" alt=""></span> +966 320 422 4254</a></li>
            <li><a routerLink="#" class="link"><span><img src="assets/u_map-marker-alt.png" alt=""></span> Jeddah, Saudi Arabia</a></li>
        </ul>
    </div>
</div>