*{
    box-sizing: border-box;

}
[class*="col-"]{
    float: left;
    width: 100%;
}

$mainColor: #200F2B;
$globalColor: #042c42;
$SeconadryColor: #5b148a;
$primari-color: #43868E;

@media screen and (max-width:700px) {
    div.col-12{
        display: block;
        padding-bottom: 100px;
    }
    div .col-sm-3{
        margin-bottom: 5px
    }
    div div .text{
        text-align: center;
    }
    div div ul{
        list-style: none;
        padding-left: 10%;
    }
    div div ul .link{
        font-size: 13px;
    }
}

.col-12{
    background-color: #16092B;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.text{
    color: $primari-color;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px; /* 359.259% */
    letter-spacing: 2.7px;
}
ul{
    list-style: none;
    padding-left: 0;
}
.link,
.Copyright{
    color: #DFF7FA;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    line-height: 39px;
}
.senses{
    width: 100%;
    margin-bottom: 25px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icon{
    width: 30.053px;
    height: 30.053px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.Copyright{
    color: #6354c1;
    font-size: 11px;
    font-weight: 600;
}


