
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="col-12 content">
      <div class="col-12 frist-part">
        <div class="col-sm-8">
          <p class="contact-text">Contact Informations</p>
        </div>
        <div class="col-sm-4">
          <img src="assets/contact.png" alt="">
        </div>
    </div>
    

    <div class="col-12 second-content">
      <div class="right-side second-part">
        <form action="#">
            <div class="input-style">
                <input type="text" name="" id="" placeholder="Your name">
            </div>
            <div class="input-style">
                <input type="text" name="" id="" placeholder="Your Email address">
            </div>
            <div class="input-style">
                <input type="text" name="" id="" placeholder="Phone Number">
            </div>
            <div class="input-style">
                <input type="text" name="" id="" placeholder="Subject">
            </div>
            <textarea name="" id="" cols="30" rows="3" placeholder="message"></textarea>
            <button type="submit" class="send">send</button>
        </form>

        <div class="col-12 icons">
          <ul>
            <li><a routerLink="#" class="link"><img src="assets/u_facebook-f.png" class="icon" alt=""> </a></li>
            <li><a routerLink="#" class="link"><img src="assets/u_twitter.png" class="icon" alt=""> </a></li>
            <li><a routerLink="#" class="link"><img src="assets/u_linkedin.png" class="icon" alt=""> </a></li>
            <li><a routerLink="#" class="link"><img src="assets/instagram.7a59db46.svg.png" class="icon insta" alt=""></a></li>
          </ul>
        </div>

      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4657128.059120294!2d100.10220615825854!3d34.567202761856144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31508e64e5c642c1%3A0x951daa7c349f366f!2sChina!5e0!3m2!1sen!2seg!4v1692360340552!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="Capture"></iframe>
    </div>
    <div class="col-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4657128.059120294!2d100.10220615825854!3d34.567202761856144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31508e64e5c642c1%3A0x951daa7c349f366f!2sChina!5e0!3m2!1sen!2seg!4v1692360340552!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="Capture2"></iframe>
    </div>

    
    </div>
    
</body>
</html>