
<div class="content">
    <div class="container">
        <div class="row">

                <div class="col-lg-6">
                    <h4 class="text1">our services</h4>
                    <h1 class="purple-color">RPA Consultation and Implementation</h1>
                    <p class="text-white mt-5">RPA is the most transformative technology revolution that<br>
                         affects business processes, especially the shift from a manual<br>
                          system to an automated one, as there are multiple data<br>
                           sources, as well as multiple systems without integration, which <br>
                           leads to problems that ultimately affect KPI’s.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/rpa1.png" alt="" class="img-fluid">
                </div>

        </div>

        <p class="text-white">We have experts and consultants who work according to the latest global methodologies for digital transformation and hold professional certificates in this field, which makes us distinguished from others as the company has the ability to implement a total solution from edge-edge.
            Our services in RPA
        </p>
        <ul class="text-white">
            <li>PA consulting </li>
            <li>RPA Implementation</li>
            <li>RPA Managing services.</li>
        </ul>

        <div class="text-center">
            <button class="buttn">Your Project Demands Further Details: Seeking Comprehensive Information for betterExecution !</button>

        </div>
        </div>
</div>
