<div class="content">
    <div class="container">
        <div class="row">

                <div class="col-lg-6">
                    <h4 class="text1">our services</h4>
                    <h1 class="purple-color">IOT Internet Of Things</h1>
                    <p class="text-white mt-5">We provide IOT solutions that raise the level of intelligence for<br>
                         supervision and control , bringing information to decision<br>
                          makers from the machine to management , and developing<br>
                           new management models with high efficiency and comfort . 
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/iot.png" alt="" class="img-fluid">
                </div>

        </div>

        <p class="text-white">We integrate Al + loT technologies to create and collect huge data through the Internet of Things and store it in the cloud and on the client's terminal servers , and it is used in many types of organizations and is now considered the era of the Internet of Things by all standards , as it enters the development of artificial intelligence for integrated solutions intelligently and accurately through networks Approved and enters in many industries and services , where all companies of all levels of administration can obtain solutions that facilitate their work with precision and professionalism.

            IoT Connection Management Platform.
            loT Sensors. 
               We offer wide range of loT sensors ranging . We offer sensors with various connectivity protocols such as GSM , WiFi , LAN , WAM , NB IOT & LPWAN .
        </p>
        <ul class="text-white">
            <li>PA consulting </li>
            <li>RPA Implementation</li>
            <li>RPA Managing services.</li>
        </ul>

        <div class="text-center">
            <button class="buttn">Your Project Demands Further Details: Seeking Comprehensive Information for betterExecution !</button>

        </div>
        </div>
</div>
