
*{
    box-sizing: border-box;

}
[class*="col-"]{
    float: left;
    width: 100%;
}
@media screen and (max-width:1120px) {
    div .svg1{
        width: 100%;
        top: 0px;
        left: 0px;
    }
    div .left-text{
        padding: 25px 5px;
        margin-bottom: -60px;
    }
    div .left-text p{
        font-size: 17px;
    }
    div div img{
        width: 111%;
        height: 400px;
    }
    div div .list-content{
        margin-top: 0px;
    }
    div div div div .item-style{
        font-size: 15px;
    }
}

.content{
    // background-image: linear-gradient(90deg,#200F2B,#5b148a);
    background-image: linear-gradient(152deg, #200F2B, #5b148a,#200F2B, #5b148a);
    padding: 10px 5%;
}
.svg1{
    position: absolute;
    width: 72%;
    top: 0px;
    left: 20%;
}
.svg2{
    position: absolute;
    top: 28%;
    left: -23%;
    height: 680px;
    flex-shrink: 0;
}
.svg3{
    width: 236.931px;
    height: 160.443px;
    flex-shrink: 0;
    float: right;
    margin-right: -5%;
}
.left-text{
    padding: 100px 5px;
    font-size: 22px;
}
.left-text p{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
img{
    width: 112.19%;
    margin-top: 0px;
    padding-left: 0px;
    height: 690px;
}
.line{
    position: relative;
    width: 107%;
    background-color: #bcbcbc;
    height: 0.5px;
    opacity: .7;
}

.list-content{
    margin-top: -140px;
}
.item-style{
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    padding: 10px;
    padding-top: 17px;
    padding-left: 30px;
}