*{
    box-sizing: border-box;

}
[class*="col-"]{
    float: left;
    width: 100%;
}

$mainColor: #200F2B;
$globalColor: #042c42;
$SeconadryColor: #5b148a;
$primari-color: #43868E;

// for small windows
@media screen and (max-width:1000px) {
    div.col-12{
        padding: 0px;
    }
    div div .imgs img{
        height: 25px;
    }    
    div div div .btns{
        display: block;
    }
    div div div .text1{
        font-size: 19px;
        line-height: 27px;
    }
    div div div .text2{
        font-size: 38px;
        line-height: 50px;
    }
    div div div .paragraph{
        font-size: 16px;
        line-height: 34px;
        margin-top: 23px;
    }
    div div div .show{
        padding: 7px 35px;
    }
    div div .right-side{
        margin-bottom: 0px;
    }
    div div .right-side img{
        height: 300px;
    }
    div div .right-side img:nth-of-type(1){
        height: 450px;
    }
    div div .imgs{
        margin-top: 0px;
    }
    div div .imgs img{
        height: 30px;
    }
    div div div .text2.text-center{
        font-size: 20px;
        line-height: 35px;
    }
    
    div div div div .leftSide{
        padding: 0px;
        margin: 0px;
        margin-bottom: 35px;
    }
    div div div div div .text2{
        font-size: 14px;
        line-height: 30px;
    }
    div div .lightning-view .container .card .card-text{
        font-size: 14px;
        line-height: 22px;    
    }
    div div div .our-services{
        margin-bottom: 15%;
        padding: 2px;
    }
    div div div .our-services .leftSide{
        margin-bottom: 100px;
    }
    div div .Our-Portfolio div div .leftSide{
        height: 360px;
    }
    div div div .our-services .leftSide img{
        height: 100%;
        width: 90%;
        margin: 0px;
        margin-left: 2%;
        margin-top: 33px;
    }
    div div div .our-services .leftSide img:nth-of-type(2){
        height: 120%;
        width: 109%;
        margin: 0px;
        padding-left: 2%;
        top: -15px;
    }
    div div div div .btns{
        display: flex;
        justify-content: space-between;
    }
    div div div div .btns .show{
        margin-bottom: 10px;
        font-size: 9px;
        padding: 10px 5%;
    }
    div div .Our-Portfolio div div div div img{
        height: 340px;
        width: 98%;
        margin-left: 1%;
    }
    div div .Our-Portfolio div div div .details{
        padding-top: 0px;
    }
    div div .Our-Portfolio div div .leftSide{
        padding-top: 3%;
    }
    div div .Our-Portfolio div div .leftSide div div div img{
        height: 420px;
    }
    div div .Our-Portfolio div div .rightSide{
        padding-top: 5%;
    }
    
    div div .Our-Portfolio div div div div button .imgLeft,
    div div .Our-Portfolio div div div div button .imgRight{
        height: 21px;
        width: 22px;
        margin: 0px;
        left: -10px;
        top: 46%;
    }
    div div .Our-Portfolio div div div div button .imgRight{
        left: 74%;
    }
    div div .Contact-Us .global-side{
        margin-left: 0px;
    }
    div div .Our-Clients div img{
        height: 40px;
    }
    div div .Our-Clients div img:nth-of-type(1){
        height: 20px;
        margin-top: 15px;
    }
    div div .Our-Clients div img:nth-of-type(7){
        height: 20px;
        margin-top: 15px;
        left: 20px;
        display: block;
    }
    div div .Contact-Us .right-side{
        padding: 5px;
        margin-bottom: 20px;
    }
    div div .Contact-Us .right-side form input{
        font-size: 11px;
    }
    div div .Contact-Us .Capture{
        margin: 0;
        top: 0px;
        height: 475px;
    }
    div div .col-12.Contact-Us .shape{
        top: 4px;
    }
    
}
// for mobile windows
@media screen and (max-width:700px) {
    div div .imgs img{
        height: 22px;
        width: fit-content;
        padding: 1px;
    }    
    div img.light-left-page{
        margin-top: 310px;
        width: 80%;
    }
    
    div div .lightning-view .container{
        display: block;
    }
    div div .lightning-view .container .card{
        margin-bottom: 60px;
    }
    div div .lightning-view .container .card img{
        margin-top: -44px;
        height: 135px;
        width: 44%;
        margin-left: 32%;
    }
    div div .lightning-view .container .card .card-text{
        font-size: 15px;
        line-height: 25px;    
    }
    div div .imgs img:nth-of-type(6),
    div div .imgs img:nth-of-type(7),
    div div .imgs img:nth-of-type(8),
    div div .imgs img:nth-of-type(9)
    {
        display: none;
    }  
    div div .Our-Portfolio div .btns,
    div div .Our-Portfolio div div .rightSide .btns{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    div div .Our-Portfolio div .text2{
        font-size: 17px;
    }
    div div .Our-Portfolio div div .rightSide .btns{
        margin-bottom: 2px;
    }
    div div .Our-Portfolio div div div .details{
        padding-top: 0px;
        padding-left: 7px;
        line-height: 33px;
        font-size: 15px;
    }
    div div .Our-Portfolio div div .leftSide div div div img{
        height: 370px;
    }
    div div div div .btns .show{
        margin-bottom: 10px;
        font-size: 10px;
        padding: 3px 4%;
    }
    div div .Our-Clients .imgs2 img{
        height: 38px;
    }
    div div .Our-Clients .imgs2 img:last-of-type,
    div div .Our-Clients .imgs2 img:nth-of-type(1){
        margin-left: -8px;
        height: 27px;
        width: 36px;
        margin-top: 10px;
    }
    div div .Our-Clients .imgs2 img:nth-of-type(1){
        margin-left: 0px;
    }
    div div .col-12.Contact-Us .shape{
        top: 6px;
    }
    div div .col-12.Contact-Us .shape img{
        width: 100%;
    }
    // div div .Contact-Us .capture-div{
    //     background-color: #210E3A;
    //     padding: 0%;
    // }
    // div div .Contact-Us .global-side{
    //     margin: 0;
    // }
}

@media screen and (min-width:576px) and (max-width:767px) {
    div div .lightning-view .leftLightning,
    div div .lightning-view .rightLightning{
        margin-top: -19%;
    }
    div div .lightning-view .col-12{
        justify-content: space-between;
    }
    div div .lightning-view .col-12 .card img{
        height: 90px;
    }
    div div .lightning-view .col-12 .card .card-title{
        font-size: 16px;
    }
    div div .lightning-view .col-12 .card .card-text{
        font-size: 12px;
        line-height: 16px;
    }
    div div div .our-services .rightSide .text2{
        font-size: 13px;
        line-height: 20px;
    }
    div div .Our-Portfolio div div div .details{
        font-size: 12px;
        line-height: 28px;
    }
    div div .Contact-Us .Capture{
        display: block;
    }
}

@media screen and (max-width:575px) {
    div div .lightning-view .col-12{
        display: block;
        padding: 10px;
    }
    div div .lightning-view .col-12 .card img{
        height: 145px;
        width: 41%;
        margin-left: 33%;
    }
    div div .Contact-Us div .Capture{
    // ---------------------------- display: none; ----------------------------
    display: none; 
    // margin: 0;
        // position: relative;
        // top: -10px;
        // width: 95%;
        // height: 300px;
        // border-radius: 25px;
        // left: 2.5%;
    }
    div div .Our-Portfolio .Rectangle4{
        top: -300px;
        width: 39%;
        left: 50%;
    }
}


// desktop view
.content{
    padding: 10px;
    overflow: hidden;
    background-image: linear-gradient(88deg, #1d1c2f, #1f2e45, #3d0181);
}
.fristPart{
    padding: 10px 5%;
    padding-right: 0%;
    z-index: 4;
}
.right-side {
    position: relative;
}
.right-side img{
    width: 100%;
    height: 950px;
}
.right-side img:nth-of-type(2){
    position: absolute;
    top: 16%;
    left: 0;
    width: 70%;
    height: 454px;
    margin-left: 15%;
}
.text1,.title{
    color: $primari-color;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px; /* 359.259% */
    letter-spacing: 2.7px;
}
.text2{
    color: #BCA7CA;
    font-family: Poppins;
    font-size: 51px;
    font-style: normal;
    font-weight: 276;
    line-height: 72px;
}
.paragraph{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    margin-top: 38px;
    color: #95bfc1;
}
.show{
    background: none;
    padding: 12px 67px;
    box-shadow: inset 0.2px 0.2px 1px #be00ff, inset -1px 0px 2px #00faff;
    color: #FFFFFF;
    border-radius: 30px;
    outline: none;
    transition: 1s;
    border: none;
    z-index: 4;
}
#show{
    margin-bottom: 15px;
}
.show:hover{
    background-image: linear-gradient(128deg, #69368A 0%, #00C6C9 100%);
}
.container{
    margin-bottom: 10%;
}
.imgs{
    width: 100%;
    background-color: #fff;
    border-radius: 35px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: -300px;
    margin-bottom: 21%;
    overflow-x: auto;
    position: relative;
    z-index: 4;

}
.imgs::-webkit-scrollbar{
    display: none;
}
.imgs img{
    // width: 25%;
    height: 40px;
    margin-top: 5px;
}
.imgs img:nth-of-type(1),
.imgs img:last-of-type{
    height: 35px;
    width: 35px;
    padding: 0px 5px;
}

// -------------------------- Our Values style --------------------------
.lightning-view{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7%;
}
.leftLightning,
.rightLightning{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    height: 500px;
    margin-top: -10%;
}
.leftLightning{
    left: -4%;
}
.rightLightning{
    left: 56%;
}
.lightning-view .col-12{
    display: flex;
    justify-content: space-around;
}
.lightning-view .card{
    background-color: $mainColor;
    border-radius: 47px;
    background: rgba(33, 57, 94, 0.50);
    backdrop-filter: blur(10.5px);
    margin-bottom: 40px;
    z-index: 4;
}
.lightning-view .card img{
    margin-top: -44px;
    height: 136px;
    width: 59%;
    margin-left: 27%;
}
.lightning-view .card .card-title{
    color: #759CFF;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.lightning-view .card .card-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 5px black;
}

// ------- light-left-page -------
.light-left-page{
    width: 45%;
    position: absolute;
    left: -30px;
    margin-top: 250px;
    z-index: 2;
}
.light-page-left-light{
    position: relative;
    margin-top: -140px;
}
.light-page-left-light .light-left-page{
    position: absolute;
    margin-top: -0px;
    width: 65%;
    left: -30px;
}
.light-page-left-light .light-right-page{
    position: absolute;
    margin-top: -0px;
    width: 50%;
    left: 55%;
    margin-top: -140px;
}

// --------------------------- Our services style      --------------------------
.services{
    position: relative;
    z-index: 4;
}
.our-services{
    background: rgba(25, 19, 47, 0.70);
    margin-top: 60px;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 10%;
}
.our-services .leftSide{
    position: relative;
    z-index: 2;
}
.our-services .leftSide img,
.Our-Portfolio .leftSide img{
    width: 90%;
    height: 390px;
}
.our-services .text2,
.Our-Portfolio .details{
    font-size: 16px;
    line-height: 31px;
    color: white;
}
.our-services .leftSide img:nth-of-type(2){
    position: absolute;
    width: 105%;
    top: -11%;
    left: -5%;
    z-index: -1;
    height: 122%;
}


// -------------------------- Our Portfolio style --------------------------
.Our-Portfolio .leftSide{
    height: 480px;
    position: relative;
    margin-top: 40px;
    padding: 25px;
}
.Our-Portfolio{
    z-index: 4;
}
.Our-Portfolio .leftSide img{
    height: 480px;
    width: 85%;
    margin-left: 9%;
}
.Our-Portfolio .leftSide .imgLeft,
.Our-Portfolio .leftSide .imgRight{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    left: 0%;
}
.Our-Portfolio .leftSide .imgRight{
    left: 57%;
}
.Our-Portfolio .container .text2{
    font-size: 30px;
    font-family: Poppins;
}
 .btns{
    display: flex;
    justify-content: space-around;
    transition: 1s;
    margin-bottom: 0px;
}
.Our-Portfolio .container div .rightSide{
    padding-top: 10%;
}
.Our-Portfolio .container div .rightSide .text1{
    color: #B284FF;
    font-weight: 600;
    padding-left: 25px;
}
.Our-Portfolio .container div .rightSide .details{
    color: #FFF;
    font-family: Poppins;
    padding-left: 25px;
    line-height: 35px;
    padding-top: 15px;
}
.Our-Portfolio .container div .rightSide .show{
    margin-left: 25px;
}
.Our-Portfolio .container .btns .show{
    padding-left: 5%;
    padding-right: 5%;
}
.Our-Portfolio .container div .col-sm-6 .btns .show{
    padding: 7px;
    padding-left: 8%;
    padding-right: 9%;
    margin-left: 1%;
    background-color: rgba(105, 54, 138, 0.30);;
}
.Rectangle2,
.Rectangle3{
    position: relative;
    top: -450px;
    width: 25%;
    margin-left: -50px;
    z-index: -1;
}
.Rectangle3{
    left: calc(-25% + 50px);
    top: -260px;
    width: 28%;
}
.Rectangle4{
    position: relative;
    top: -380px;
    width: 33%;
    left: 42%;
    z-index: -1;
    transform: rotate(180deg)
}


// -------------------------- Our Clients style --------------------------
.Our-Clients{
    margin-bottom: 0%;
    z-index: 4;
    margin-top: -20%
}
.Our-Clients .text2{
    font-size: 41px;
    line-height: 60px;
}
.imgs2 {
    position: relative;
    margin-top: 20px;
}
.imgs2 img{
    margin-top: 5px;
    height: 90px;
}
.imgs2 img:nth-of-type(1),
.imgs2 img:last-of-type{
    margin-top: 30px;
    width: 4%;
    height: 35px;
}
// for side animation
// .imgs2 img:nth-of-type(2){
//     transform: translateX(100%);
//     z-index: -1;
//     width: 0%;
// }


// -------------------------- Our Contact-US style --------------------------
.Contact-Us{
    width: 100%;
    padding: 0;
    margin: 0;
}
.Contact-Us .text2{
    font-size: 41px;
    line-height: 60px;
    margin-bottom: 25px;
}
.Capture{
    vertical-align: middle;
    border-style: none;
    position: absolute;
    left: -5%;
    width: 55%;
    padding-top: 20px;
    height: 530px;
    z-index: 3;
    filter: invert(100%);
}
.Contact-Us .right-side{
    display: block;
    padding: 20px 50px;
    padding-bottom: 35px;
}
.Contact-Us .global-side{
    background-color: #210E3A;
    z-index: 2;
    padding: 0px;
    margin: 22px;
    margin-bottom: -13px;
    box-sizing: border-box;
}
.col-12.Contact-Us{
    padding: 0;
}
.Contact-Us div form{
    z-index: 3;
    padding-top: 40px;
    margin-bottom: 20px;
}
input,textarea{
    width: 90%;
    margin-left: 5%;
    font-size: 15px;
    padding: 10px 30px;
    margin-bottom: 14px;
    border-radius: 37px;
    background: none;
    color: #FFF;
    font-family: Poppins;
    border: none;
    box-shadow: inset 1px 1px 1px #aa00e5, inset -1px -1px 1px #6990b1;
}
input::placeholder,textarea::placeholder{
    color: rgb(222, 222, 222);
}
.send{
    color: white;
    font-family: Poppins;
    font-size: 16.745px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.795px;
    background-image: linear-gradient(128deg, #69368A 0%, #00C6C9 100%);
    border-radius: 25px;
    padding: 5px 7%;
    border: none;
    float: right;
    margin-right: 20px;
    text-transform: capitalize;
}
div div .Contact-Us .shape{
    position: absolute;
    width: 100%;
    top: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
}
div div .Contact-Us .capture-div{
    background-color: #210E3A;
    position: relative;
    z-index: 3;
}
div div .Contact-Us .shape img{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 10px -22px;
}







