
<div class="col-12 content">
    
    <div class="col-12 fristPart">
        <div class="col-sm-6">
            <p class="text1">Our mission</p>
            <p class="text2">Think <br> Forward</p>
            <p class="paragraph">To be the partner of choice for the region’s leading services providers, government and enterprises by helping them create, build and maintain the most innovative, reliable cost-effective solution that meet their customers’ growing needs with a local flavor.</p>
            <button class="show">Discover</button>
        </div>
        <div class="col-sm-6 right-side">
            <img src="assets/FrameHome1.png" alt="">
            <img src="assets/FrameMan.png" alt="">
        </div>
    </div>

    <div class="col-12">
        <div class="container imgs">
            <img src="assets/Arrow_drop_down.png" alt="layer photo">
            <img src="assets/Graphic_Elements.png" alt="layer photo">
            <img src="assets/Graphic_Elements (2).png" alt="layer photo">
            <img src="assets/Graphic_Elements (1).png" alt="layer photo">
            <img src="assets/Graphic_Elements (3).png" alt="layer photo">
            <img src="assets/image 1.png" alt="layer photo">
            <img src="assets/Asset 8.png" alt="layer photo">
            <img src="assets/Asset 9.png" alt="layer photo">
            <img src="assets/Asset 11.png" alt="layer photo">
            <img src="assets/Arrow_drop_down (1).png" alt="layer photo">
        </div>
        <div class="container">
            <p class="text1 text-center"> Our Values </p>
            <p class="text2 text-center">  Our journey to Make difference </p>
        </div>

        <div class="col-12 lightning-view">
            <img src="assets/leftLightning.png" class="leftLightning" alt="">
            <img src="assets/rightLightning.png" class="rightLightning" alt="">
            <div class="container">
                <div class="col-sm-3 card">
                    <img src="assets/lamp.png" alt="lamp">
                    <p class="card-title">Ideation</p>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
                <div class="col-sm-3 card">
                    <img src="assets/time.png" alt="lamp">
                    <p class="card-title">Timing</p>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
                <div class="col-sm-3 card">
                    <img src="assets/settings.png" alt="lamp">
                    <p class="card-title">Maintenance</p>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <p class="text1 text-center"> Our Services </p>
            <p class="text2 text-center"> We Bring You the Finest Services </p>
            <div class="text-center">
                <button class="show">See all services</button>
            </div>
            <div class="col-12 our-services">
                <div class="col-sm-6 leftSide">
                    <img src="assets/laptop.png" alt="">
                    <img src="assets/bg-waves.png" alt="">
                </div>
                <div class="col-sm-6 rightSide">
                    <p class="text1">Web Development</p>
                    <p class="text2">The company was keen to recruit the best developers and designers of mobile applications and web applications holding professional certificates. We have an elite of developers and designers in order to produce what they aspire to for our customers using the latest international technologies. If you want your website to be attractive, professional, and better, don't hesi tate to come to the fountain of creativity</p>
                    <button class="show">next</button>
                </div>
            </div>
        </div>


        <div class="col-12 Our-Portfolio">
            <div class="container">
                <p class="text1 text-center"> Our Portfolio </p>
                <p class="text2 text-center"> Confidence in serving Excellence, Reliable and Qualified </p>
                <div class="btns">
                    <button class="show">All work</button>
                    <button class="show">Development</button>
                    <button class="show">AI</button>
                    <button class="show">Smart City</button>
                    <button class="show">UX - UI design</button>
                </div>
                <div class="col-12">
                    <div class="col-sm-6 leftSide">
                        <img src="assets/Screenshot.png" alt="">
                        <img src="assets/Frame 25.png" class="imgLeft" alt="">
                        <img src="assets/Frame 20.png" class="imgRight" alt="">
                    </div>
                    <div class="col-sm-6">
                        <p class="text1">Web Development</p>
                        <div class="btns">
                            <button class="show">Project Title</button>
                            <button class="show">Development</button>
                            <button class="show">UX - UI design</button>
                        </div>
                        <p class="details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                        <button class="show">Discover</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 container Our-Clients">
            <p class="text1 text-center"> Our Clients</p>
            <p class="text2 text-center"> They Trust Us </p>
            <div class=" imgs imgs2">
                <img src="assets/Arrow_drop_down.png" alt="layer photo">
                <img src="assets/1.png" alt="">
                <img src="assets/2.png" alt="">
                <img src="assets/3.png" alt="">
                <img src="assets/4.png" alt="">
                <img src="assets/5.png" alt="">
                <img src="assets/Arrow_drop_down (1).png" alt="layer photo">
            </div>
        </div>

        <div class="col-12 Contact-Us">
            <p class="text1 text-center"> Contact Us</p>
            <p class="text2 text-center"> Let’s keep In Touch</p>
            <div class="col-sm-6">
                <img src="assets/Capture.PNG" alt="Capture">
            </div>
            <div class="col-sm-6 right-side">
                <form action="#">
                    <div class="input-style">
                        <input type="text" name="" id="" placeholder="Your name">
                    </div>
                    <div class="input-style">
                        <input type="text" name="" id="" placeholder="Your Email address">
                    </div>
                    <div class="input-style">
                        <input type="text" name="" id="" placeholder="Phone Number">
                    </div>
                    <div class="input-style">
                        <input type="text" name="" id="" placeholder="Subject">
                    </div>
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                </form>
            </div>
        </div>
    </div>

</div>